@import url('./common/common.css');
@import url('./base/button.css');
@import url('./base/icon.css');
@import url('./base/combobox.css');
@import url('./base/input.css');
@import url('./base/table.css');
@import url('./base/navigation.css');
@import url('./base/status.css');
@import url('./base/messenger.css');
@import url('./base/dialog.css');
@import url('./layout/navbar.css');
@import url('./layout/header.css');
@import url('./layout/content.css');
@import url('./layout/container.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: MISA Font;
    font-size: 13px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Font */

@font-face {
    font-family: MISA Font;
    src: url('../content/font/GoogleSans-Regular.otf');
}

@font-face {
    font-family: MISA Font Bold;
    src: url('../content/font/GoogleSans-Bold.otf');
}

@font-face {
    font-family: MISA Font Italic;
    src: url('../content/font/GoogleSans-Italic.otf');
}