.t-btn {
    display: flex;
    align-items: center;
    background-color: #019160;
    border-radius: 4px;
    height: 40px;
    color: #ffffff;
    padding: 0 24px;
    text-align: center;
    border: unset;
    cursor: pointer;
    min-width: 100px;
    white-space: nowrap;
}

.t-btn:hover {
    background-color: #2FBE8E;
}

.t-btn:active {
    background-color: #01B075;
}


/* Button Icon */

.t-btn .t-btn-icon {
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-right: 8px;
}

.t-btn .t-btn-text {
    margin-right: -8px;
}


