.t-dialog-add {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);

    display: none;
}

.t-dialog-container {
    background-color: #ffffff;
    padding: 40px 20px;
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    position: relative;
    top: 10%;
}

.t-dialog-header {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 50px;
}

.t-close-dialog {
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    cursor: pointer;
}

.t-close-dialog:hover {
    background-color: #F65454;
    color: #ffffff;
}

.t-dialog-row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 16px;
}

.t-input-title {
    font-weight: bold;
    margin-left: 8px;
}

.t-dialog-input .t-input-info {
    height: 40px;
    width: 210px !important;
    margin: 8px;
    outline: unset;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
}

.t-dialog-input .t-input-info:focus {
    border: 1px solid #019160;
}


/* btn */

.t-dialog-btn {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
    background-color: #dbdbdba1;
    width: 100%;
    border-radius: 4px;
}

.t-close-btn, .t-add-btn {
    height: 40px;
    width: 80px;
    margin: 8px 4px;
    color: #ffffff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border:unset;
}

.t-close-btn {
    background-color: #bbbbbb;
    color: #000000;
}

.t-add-btn {
    background-color: #019160;
    margin-right: 10px;
}

.t-close-btn:hover {
    background-color: #d4cece;
}

.t-add-btn:hover {
    background-color: #21a378;
}
